---
layout: default
---

<div class="flex flex-row">
  <div>
  <header>
    <h1>
      {{ site.name }}
    </h1>
  </header>
    <div class="flex flex-row gap-2 text-4xl py-4 *:ease-in-out *:duration-200">
      <a class="hover:text-primary-accent" href="https://github.com/{{ site.github_username }}" title="GitHub">
        <i class="fa-brands fa-github"></i>
      </a>
      <a class="hover:text-primary-accent" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a class="hover:text-primary-accent" href="https://orcid.org/{{ site.orcid_id }}" title="ORCID">
        <i class="ai ai-orcid"></i>
      </a>
      <a class="hover:text-primary-accent" href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar">
        <i class="ai ai-google-scholar"></i>
      </a>
    </div>
  </div class="flex flex-col">
</div>

<article>
  {{ content }}
</article>